header {
  /*this will cover everything in the head part of my html*/
  display: flex; 
  justify-content: space-around;
  font-weight: bold;
  padding-top: 1em;
}
.title {
  /*had to create a class to make my title appear*/
  font-size: 25px;
  font-family: "Alfa Slab One", cursive;
  font-weight: 500;
  background-color: rgb(13, 19, 135);
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  padding: 0.5em;
}

body {
  /*this will cover everything in the body part of my html*/
  font-size: 20px;
  font-family: "Mukta", serif;
  margin: 0;
}

nav {
  /*my navigation of my webpages are here*/
  background-color: black;
  font-size: 15px;
  text-transform: uppercase;
  padding: 1 em;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #0000ff;
  display: flex;
  justify-content: space-around;
}
ul {
  /*this gets rid of the bullet points for each link to other webpages*/
  list-style-type: none;
  
}
li {
  /*a list for the names of my other webpages*/
  height: 5px;
  margin-right: 5px;
  padding: 0 25px;
  display: inline-block; 
}
li:last-child {
  /*a pseudo class that only affects the last part of my navigation*/
  border-right: none;
}
li a {
  /*affects the format of the text, changing the colour and size*/
  color: white;
  font-size: 20px;
}

.box{
  /*had to create a class to create a box to put information in*/
  display: flex;
  justify-content: center;
  overflow: auto;
  padding-top: 1em;
}
.overview {
  /*had to create a class to change the format of text for my content more conveniently*/
  font-size: 15px;
  column-count: 3;
  column-gap: 20px;
  line-height: 150%;
  padding: 1em;
}

image{
  display: flex;
  justify-content: center;
  display: inline-block;
  padding: 0.5em;
  height: 250px;
  width: auto;
}

h {
   /*affects the format of the text, changing the colour and size*/
  font-weight: bold;
  font-size: 16px;
}

.intro {
    /*had to create a class to affect the information within my box class*/
  font-size: 20px;
  border: 5px solid #0000ff;
  width: 900px;
  height: 200px;
  background-color: lightgrey;
  display: inline-block;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
 
}
.glossary{ 
  /*had to create a class to seperate my definitions evenly, and added another column to make it easier to read*/
  font-size: 12px;
  column-count: 4;
  column-gap: 20px;
  line-height: 145%;
  padding: 2em;
}

footer{
  /*the finishing touch at the end of the page*/
  background-color: black;
  color: white;
  border-top: 2px solid #0000ff;
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 480px) {
/*for mobile*/
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
/*for tablet*/
}
